<div class="row text-center">
  <hr />
  <div class="col-xs-6 col-xs-offset-3">
  <p class="text-left content">Stand Coffee serves delicious specialty coffee inside our favorite New York City shops while they aren’t using them.  We also brew coffee for events, at parties, and wherever we think is fun.  We’re proud to serve coffee from our friends at <%= link_to "Cafe Grumpy", "http://cafegrumpy.com/", target: "_blank"%>, roasted in Greenpoint, Brooklyn.</p>
	</div>
</div>