<div class="row text-center">
  <hr />
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
  <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et porttitor eros. Nam efficitur, est eu ornare fringilla, orci elit venenatis neque, vitae vulputate libero nisl sed sem. Pellentesque enim eros, cursus vitae lectus sed, ullamcorper laoreet lectus. Duis sodales velit ut eleifend congue. Fusce tempor pulvinar est ac fringilla. Aenean vitae orci justo. Vivamus diam nibh, elementum sit amet tortor id, faucibus pretium turpis. Duis at mauris sollicitudin, euismod arcu vitae, tincidunt libero. Morbi et sodales erat.</p>
  </div>
  	<div class="col-sm-4">
	</div>
</div>