<hr />
<div class="col-xs-10 col-xs-offset-1">

	<p class="text-left content">This month's single origin from Cafe Grumpy is from the Shamba Washing Station in Kirundo, Muyinga, Burundi. It's a complex yet delicate cup, sweet with notes of honey, lemon-curd, and grape. It gets brighter and more citrusy as it cools and has a lightly syrupy mouthfeel.</p>

	<p class="text-left content">Burundi is a coffee producing country especially worthy of our attention. Since coffee production was fully privatized in 2009, a new class of entrepreneurs have been bringing excellent specialty coffees to the marketplace. As agriculture accounts for 34% of Burundi's GDP and coffee is the country's dominant crop, those higher prices are a very big deal. It is no coincidence that Burudi's income per capita rose 37% since that privatization.</p>

	<p class="text-left content">Even more exciting is that this coffee's Producer is Angèle Ciza. Women do much of the harvesting work in African coffee production, but rarely do they own the washing stations. Angèle not only owns 7 washing stations, but also owns all the land the coffee is farmed on. She owns roughly 25 acres of coffee farms, has over 26,000 Arabica trees, employs over 100 women, and helps pay for education for the children of her employees.  Get inspired by reading more about her work  over at <%= link_to "The Salt", "http://www.npr.org/sections/thesalt/2012/11/07/164347078/meet-four-african-women-who-are-changing-the-face-of-coffee", target: "_blank"%>.</p>
</div>
