<hr />
<div class="col-xs-10 col-xs-offset-1">
	<p class="text-left content">Our current single origin offering from Cafe Grumpy is from the Celso Garcia Co-op in Oaxaca, Mexico.  It’s an organically certified, fully washed Bourbon, Caturra, Mundo Novo, Typica grown at 1200-1800 MASL and tastes of green apple, cacao nibs, lemon, and thyme.</p>

	<p class="text-left content">The Celso Garcia Co-op consists of 789 smallholder families, 43% of which are female.  They sponsor a number of local social development programs.</p>

	<p class="text-left content">For our blend, we’re currently serving Grumpy’s famous Heartbreaker, which is orangey and bright yet syrupy and deep.  The present version of Heartbreaker pairs a delicious Ethiopian from the Kochere Biloya region with a Costa Rican coffee from the producer Cerro San Luis.  <%= link_to "Cerro San Luis’ YouTube channel", "https://www.youtube.com/user/CerroSanLuis/", target: "_blank"%> is very much worth your time.</p>
</div>
