<div class="row text-center">
  <hr />
  <div class="col-xs-6 col-xs-offset-3">
    <p class="text-left content">We proudly serve Cafe Grumpy beans which
    are roasted in Greenpoint Brooklyn.</p>
    <p class="text-left content">If you have further questions or would like
    to know more please write us at: hello@standcoffeenyc.com</p>
	</div>
</div>