<div class="container">
  <div class="header">
    <div class="col-sm-2 hidden-xs">
      <p class="text-left">
        <small><ins>
          <%= @date %><br />
          <% unless @temperature.nil? %>
            <%= @temperature %>&deg;<br />
          <% end %>
          NYC
        </ins></small>
      </p>
    </div>
    <div class="col-sm-2 col-sm-offset-3">
      <div class="row text-center">
        <a href="#home" data-toggle="tab">
          <%= image_tag("stand_coffee_logo.png", alt: "Stand Coffee Logo") %>
        </a>
      </div>
    </div>
  </div>
</div> 